* {
    box-sizing: border-box;
}

pre {
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
}

.Monopo_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.Behaivior {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.Behavior_2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}